<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-internal" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/11.0.100-rc.2.26475.136-shipping/nuget/v3/index.json" />
  </packageSources>
</configuration>
